<%- if entries.present? -%>
  <ul id="entries" class="entry-list unstyled">
    <%- entries.each do |entry| -%>
      <li>
        <a href="<%= account_entry_path(account, entry) %>" class="pull-left delete-entry"><i class="icon-remove"></i></a>
        <span class="pull-right <%= entry.classification %>"><%= formatted_amount(entry.dollar_amount, entry.classification) %></span>
        <%= entry.description %>
      </li>
    <%- end -%>
  </ul>

  <%- if entries.total_pages > 1 -%>
    <div class="pagination-info pull-right">
      <%= "#{entries.offset + 1} - #{entries.offset + entries.length} of #{entries.total_entries}" %>
    </div> <!-- /pagination-info -->
  <%- end -%>

  <%= will_paginate entries, :page_links => false %>
<%- else -%>
  <p>There are no current entries.</p>
<%- end -%>
