<section class="span5 offset2">
  <%= form_for current_user, :url => edit_users_path do |f| %>
    <h1>Update Account</h1>

    <%= render 'shared/form_errors', :object => current_user %>

    <fieldset>
      <%= f.label :name, 'Name' %>
      <%= f.text_field :name, :class => 'span4' %>

      <%= f.label :email, 'Email', :class => 'required' %>
      <%= f.email_field :email, :class => 'span4 required' %>

      <%= f.label :password, 'Password' %>
      <%= f.password_field :password, :class => 'span4 clearfix' %>

      <%= f.label :password_confirmation, 'Password (again)' %>
      <%= f.password_field :password_confirmation, :class => 'span4 clearfix' %>
    </fieldset>

    <footer>
      <%= f.submit 'Update', :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', accounts_path, :class => 'btn' %>
    </footer>
  <%- end -%>
</section>
