<section class="span8 offset2">
  <%= form_for @user do |f| %>
    <h1>Register</h1>

    <%= render 'shared/form_errors', :object => @user %>

    <fieldset>
      <%= f.label :name, 'Name' %>
      <%= f.text_field :name, :class => 'span4' %>

      <%= f.label :email, 'Email', :class => 'required' %>
      <%= f.email_field :email, :class => 'span4 required' %>

      <%= f.label :password, 'Password', :class => 'required' %>
      <%= f.password_field :password, :class => 'span4 required clearfix' %>

      <%= f.label :password_confirmation, 'Password (again)', :class => 'required' %>
      <%= f.password_field :password_confirmation, :class => 'span4 required clearfix' %>
    </fieldset>

    <footer>
      <%= f.submit 'Register', :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', root_path, :class => 'btn' %>
    </footer>
  <%- end -%>
</section>
