<%= render 'shared/form_errors', :object => @recurring_transaction %>

<div class="control-group">
  <%= f.label :float_amount, 'Amount', :class => 'required control-label' %>
  <div class="controls">
    <%= f.text_field :float_amount, :class => 'required span2', :autofocus => 'autofocus', :value => @recurring_transaction.form_amount_value %>
  </div>
</div>

<div class="control-group">
  <%= f.label :day, 'Day of the Month', :class => 'required control-label' %>
  <div class="controls">
    <%= f.select :day, (1..31).map { |num| [num.ordinalize, num] }, {:include_blank => true}, :class => 'required span2' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :description, :class => 'required control-label' %>
  <div class="controls">
    <%= f.text_field :description, :class => 'span8' %>
  </div>
</div>
