<td>
  <form class="entry-edit-form">
    <input type="text" name="description" value="{{description}}" class="entry-description-field" autocorrect="off" autocapitalize="words">
  </form>
  <a href="/accounts/{{account_url}}" class="cancel-edit">cancel</a>
</td>
<td class="date">
  <form class="entry-edit-form">
    <input type="text" name="date" value="{{formatted_date}}" class="entry-date-field datepicker" autocapitalize="off">
  </form>
</td>
<td class="{{classification}}">
  <form class="entry-edit-form">
    <input type="text" name="float_amount" value="{{form_amount_value}}" class="entry-amount-field" autocapitalize="off">
  </form>
</td>
