<table class="entries table table-bordered table-condensed table-striped">
  <tbody id="entries-list"></tbody>
</table>

{{#if totalRecords}}
  <div class="pagination-info pull-right">{{pagination_info currentPage perPage totalRecords}}</div>
{{/if}}

<div class="pagination">
  <ul>
    {{#if pagination.hasPrevious}}
      <li class="prev previous_page">
        <a href="/accounts/{{account.url}}" data-page="{{pagination.hasPrevious}}">&larr; Previous</a>
      </li>
    {{else}}
      <li class="prev previous_page disabled"><a href="/accounts/{{account.url}}">&larr; Previous</a></li>
    {{/if}}

    {{#if pagination.hasNext}}
      <li class="next next_page">
        <a href="/accounts/{{account.url}}" data-page="{{pagination.hasNext}}">Next &rarr;</a>
      </li>
    {{else}}
      <li class="next next_page disabled"><a href="/accounts/{{account.url}}">Next &rarr;</a></li>
    {{/if}}
  </ul>
</div>
