<a href="/accounts/{{account.url}}/entries/{{entry.id}}" class="pull-left delete-entry"><i class="icon-remove"></i></a>
<span class="pull-right {{entry.classification}}">{{entry.formatted_amount}}</span>
{{entry.description}}
