<td>
  <a href="/accounts/{{account.url}}/entries/{{id}}" class="pull-left delete-entry"><i class="icon-remove"></i></a>
  <div class="edit-entry" data-id="{{id}}" data-field="description">{{description}}</div>
</td>
<td class="date edit-entry" data-field="date">{{formatted_date}}</td>
<td class="{{classification}} edit-entry" data-id="{{id}}" data-field="amount">{{formatted_amount}}</td>
