<td>{{recurring_transaction.day}}</td>
<td class="{{recurring_transaction.classification}}">{{recurring_transaction.formatted_amount}}</td>
<td>{{recurring_transaction.description}}</td>
<td>
  <a href="/accounts/{{account.url}}/recurring/{{recurring_transaction.id}}/edit" class="btn btn-primary btn-mini">Edit</a>
  <a href="#" class="btn btn-danger btn-mini delete">Delete</a>
</td>
