<!DOCTYPE html>
<html>
  <head>
    <title>Ledger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-touch-icon-ipad-retina.png" />
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <script>
      (function(i,s,o,g,r,a,m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2032096-5', 'travisroberts.net');
    </script>

    <div class="body-wrap">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

            <a href="/" class="brand">Ledger</a>

            <div id="main-nav" class="nav-collapse collapse"></div>
          </div> <!-- /container -->
        </div> <!-- /navbar-inner -->
      </div> <!-- /navbar -->

      <div id="backbone-container" class="container main clearfix">
        <%= render 'shared/flash' %>
        <%= yield %>
      </div> <!-- /container -->

      <div class="footer-push"></div>
    </div> <!-- /body-wrap -->

    <footer>
      <div class="container">
        <!-- Footer? -->
      </div>
    </footer>

    <!-- <p id="screen-info"></p> -->
  </body>
</html>
