<h1><%= @account.name %> - Sharing Settings</h1>

<%= form_tag invite_account_path(@account), :class => 'form-inline' do %>
  <label for="email">Invite a collaborator</label>
  <%= text_field_tag :email, params[:email], :placeholder => 'Email Address' %>
  <%= submit_tag 'Send Invitation', :class => 'btn btn-primary' %>
<%- end -%>

<%- if @users.present? -%>
  <%- @users.each do |user| -%>
    <%= user.name %> - <%= user.email %>
  <%- end -%>
<%- else -%>
  <p>No other users have access to this account.</p>
<%- end -%>
