<h1><%= @account.name %> - Sharing Settings</h1>

<%= form_tag account_invitations_path(@account), :class => 'form-inline' do %>
  <label for="email">Invite a collaborator</label>
  <%= email_field_tag :email, params[:email], :placeholder => 'Email Address' %>
  <%= submit_tag 'Send Invitation', :class => 'btn btn-primary' %>
<%- end -%>

<%- if @invites.present? -%>
  <h2>Pending Invitations</h2>

  <ul class="unstyled">
    <%- @invites.each do |invite| -%>
      <li>
        <%= invite.email %>
        &nbsp;&mdash;&nbsp;
        <%= link_to 'Revoke', account_invitation_path(@account, invite), :method => 'delete', :class => 'btn btn-danger btn-mini' %>
      </li>
    <%- end -%>
  </ul>
<%- end -%>

<%- if @users.present? -%>
  <h2>Users With Access to This Account</h2>

  <ul class="unstyled">
    <%- @users.each do |user| -%>
      <li><%= user.name %> (<%= user.email %>)</li>
    <%- end -%>
  </ul>
<%- end -%>
