<div class="row account-header">
  <div class="span8">
    <h1><%= @account.name %></h1>
  </div> <!-- /span8 -->

  <div class="span4">
    <div id="current-balance" class="balance pull-right"><%= number_to_currency(@account.dollar_balance) %></div>
  </div> <!-- /span4 -->
</div> <!-- /row -->

<p class="pull-right"><%= link_to 'Recurring Transactions', account_recurring_transactions_path(@account) %></p>

<%= form_for :entry, :url => account_entries_path(@account), :html => {:class => 'form-inline'} do |f| %>
  <div class="input-prepend">
    <span class="add-on">$</span>
    <%= f.text_field :float_amount, :class => 'span2', :placeholder => 'Amount', :autofocus => 'autofocus' %>
  </div>

  <%= f.text_field :description, :class => 'span5', :placeholder => 'Description' %>

  <%= f.submit 'Add', :class => 'btn btn-primary' %>
<%- end -%>

<div id="entry-container" data-url="<%= account_entries_path(@account) %>"></div>
