<div class="row account-header">
  <div class="span8">
    <h1><%= @account.name %></h1>
  </div> <!-- /span8 -->

  <div class="span4">
    <div id="current-balance" class="balance pull-right"><%= @account.dollar_balance %></div>
  </div> <!-- /span4 -->
</div> <!-- /row -->

<div class="row">
  <div class="span9">
    <%= form_for :entry, :url => account_entries_path(@account), :html => {:class => 'form-inline new-entry'} do |f| %>
      <div class="input-prepend">
        <span class="add-on">$</span>
        <%= f.text_field :float_amount, :class => 'span2', :placeholder => 'Amount', :autofocus => 'autofocus' %>
      </div>

      <%= f.text_field :description, :class => 'span5 entry-description', :placeholder => 'Description' %>

      <%= f.submit 'Add', :class => 'btn btn-primary' %>
    <%- end -%>
  </div>

  <div class="recurring-link span3">
    <%= link_to 'Recurring Transactions', account_recurring_transactions_path(@account) %>
  </div>
</div>

<div id="entry-container" data-url="<%= account_entries_path(@account) %>"></div>
